* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    background: #ab5df5;
    color: #fff;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    background: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    background: transparent;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #ececec;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

    /* Hero Section */
#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(-45deg, #f0e7fd, #2575fc, #734da5, #1deef5);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#home h1 {
    font-size: 4rem;
    font-weight: 800;
}

#home p {
    margin-top: 15px;
    font-size: 1.4rem;
    opacity: 0.9;
}

 .btn {
      margin-top: 25px;
      padding: 12px 25px;
      background: #fff;
      color: #0f0f0f;
      border: none;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
}

.btn:hover {
      background: #f85757;
      color: #fff;
      transform: scale(1.05);
}

 section .navbar {
      min-height: 100vh;
      padding: 100px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0;
      transform: translateY(50px);
      transition: all 1s ease;
}

section.show {
      opacity: 1;
      transform: translateY(0);
}

#about h1 {
     font-size: 4rem;
     font-weight: 800;
}


#about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 400% 400%;
    background: linear-gradient(-45deg, #0ee7ca, #942ee7);
}

  section h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #222222;
}

 section p {
      max-width: 700px;
      margin-bottom: 20px;
      font-size: 1.1rem;
      line-height: 1.7;
}

#projects h1 {
     font-size: 4rem;
     font-weight: 800;
}

#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 400% 400%;
    background: linear-gradient(-45deg, #0ee7ca, #942ee7);
}

 .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      width: 90%;
      height: 50%;
}

  .card {
      background: #3488d6;
      padding: 50px;
      border-radius: 15px;
      transition: transform 0.3s ease, background 0.3s ease;
}

 .card:hover {
      transform: translateX(-10px);
      background: #0072ff;
}

.card a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#contact h1 {
     font-size: 4rem;
     font-weight: 800;
}

#contact {
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 400% 400%;
    background: linear-gradient(-45deg, #0ee7ca, #942ee7);
}

.contact-section {
    padding: 80px;
    text-align: center;
    color: white;
}

.contact-section .desc {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.contact-info a {
    color: #fff;
    text-decoration: underline;
}

.sosial-links {
    margin: 20px 0;
}

.sosial-links a {
    margin: 0 10px;
    padding: 10px 15px;
    background: rgba(59, 102, 241, 0.9);
    border-radius: 7px;
    transition: 0.3s;
    color: #fff;
    font-weight: bold;
}

.sosial-links a:hover {
    background: #fff;
    color: #0077ff;
}

.contact-form {
    max-width: 500px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

.contact-form button {
    padding: 12px;
    margin: none;
    background: #fff;
    color: #0077ff;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #005ecb;
    color: #fff;
}

footer {
    background: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}   

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-about .footer-links .footer-social {
    flex: 1;
    min-width: 250px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links a, .footer-social a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover, .footer-social a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

